
.icon-qiita:before {
    content: "";
    background-image: url("/images/qiita-qiita-jobs-favicon.png");
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.icon-note:before {
    content: "";
    background-image: url("/images/logo_symbol.png");
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}