.icon-qiita:before {
    content: "";
    background-image: url("/images/qiita.png");
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: auto;
    background-color: rgb(0,0,0);
    vertical-align: middle;
}
.icon-note:before {
    content: "";
    background-image: url("/images/note.svg");
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: auto;
    vertical-align: middle;
}